<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Orders</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Subtotal</th>
        <th>Taxes</th>
        <th>Total shipping</th>
        <th>Discount</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= number_to_currency(order.subtotal) %></td>
          <td><%= number_to_currency(order.taxes) %></td>
          <td><%= number_to_currency(order.total_shipping) %></td>
          <td><%= number_to_currency(order.discount) %></td>
          <td class="font-weight-bold"><%= number_to_currency(order.total) %></td>
          <td><%= link_to 'Show', admin_order_path(order) %></td>
          <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
          <td><%= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>