<%= form_with(model: [:admin, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :in_stock_qty %>
    <%= form.number_field :in_stock_qty %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Product.statuses.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :product_image %>

    <% if form.object.product_image.attached? %>
      <div>
        <%= image_tag rails_blob_path(form.object.product_image, disposition: "attachment") %>
      </div>
    <% end %>

    <%= form.file_field :product_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
