<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Sku</th>
        <th>In stock qty</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.sku %></td>
          <td><%= product.in_stock_qty %></td>
          <td><%= product.status %></td>
          <td><%= link_to 'Show', admin_product_path(product) %></td>
          <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
          <td><%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_admin_product_path %>
</div>