.shop {
  .banner {
    background-image: url(image-path('banner.jpg'));
    position: relative;
    min-height: 20rem;
    padding: 4rem 0;
    background-size: cover;
    background-position: 50% 50%;
  }

  .price {
    font-size: 20px;
    font-weight: bold;
  }

  .form-inline {
    input[type="number"] {
      max-width: 75px;
    }
  }

  .all-products {
    &> h2 {
      text-align: center;
      font-size: 15px
    }
  }

  .divider {
    width: 100px;
    height: 3px;
    background-color: #32c5d2;
    margin: 10px auto;
  }
}